<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <style>
    </style>
    
    </head>
<body>
    <h1>Welcome to the Chat Application</h1>
    <div>
        <a href="/users">Register</a>
        <a href="/auth">Login</a>
        <a href="/chat">Chat</a>
        <a href="/images/all">Gallery</a>
        <a href="/images">Upload Photo</a>
    </div>

</body>
</html>
