<html>
  <head>
    <title>Upload Photo</title>
  </head>
  <body>
    <h1>Upload Photo</h1>

    <form action='/images/upload' method='post' enctype='multipart/form-data'>
      <input type='file' name='image' accept='image/*' required />
      <button type='submit'>Upload</button>
    </form>
  </body>
</html>